.searchbar {
	display: inline-flex;
	flex-direction: row-reverse;
	align-items: center;
	background-color: white;
	padding-inline: 4px;
	border-radius: 4px;
	width: min(440px, 90%);

	& button {
		background-color: transparent;
		border: none;
		padding: 4px;
		padding-bottom: 0;
	}

	& button > :not(.icon) {
		pointer-events: none; /* Игнорировать клики */
	}
}
.icon {
	font-size: 24px;
	box-sizing: content-box;
	color: gray;
	cursor: pointer;
	transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);

	&:hover {
		color: black;
	}
}
.searchfield {
	border: none;
	outline: none;
	width: 100%;
	height: 32px;
	padding-top: 4px;
}